/*
		Framework Creato da Manna Fabrizio e D'Angelo Vito
							CSS per Pannello
*/
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
button,hr,input {overflow: visible}
progress,sub,sup {vertical-align: baseline}
[type=checkbox],[type=radio],legend {box-sizing: border-box;padding: 0}
html {line-height: 1.15;-webkit-text-size-adjust: 100%}
body {margin: 0}
h1 {font-size: 2em;margin: .67em 0}
hr {box-sizing: content-box;height: 0}
code,kbd,pre,samp {font-family: monospace, monospace;font-size: 1em}
a {background-color: transparent}
abbr[title] {border-bottom: none;text-decoration: underline;text-decoration: underline dotted}
b,strong {font-weight: bolder}
small {font-size: 80%}
sub,sup {font-size: 75%;line-height: 0;position: relative}
sub {bottom: -.25em}
sup {top: -.5em}
img {border-style: none}
button,input,optgroup,select,
textarea {font-family: inherit;font-size: 100%;line-height: 1.15;margin: 0}
button,select {text-transform: none}
[type=button],[type=reset],[type=submit],button {-webkit-appearance: button}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {border-style: none;padding: 0}
[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {outline: ButtonText dotted 1px}
fieldset {padding: .35em .75em .625em}
legend {color: inherit;display: table;max-width: 100%;white-space: normal}
textarea {overflow: auto}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {height: auto}
[type=search] {-webkit-appearance: textfield;outline-offset: -2px}
[type=search]::-webkit-search-decoration {-webkit-appearance: none}
::-webkit-file-upload-button {-webkit-appearance: button;font: inherit}
details {display: block}
summary {display: list-item}
[hidden],template {display: none}
/*Reset*/
	@charset "UTF-8";
	* {outline: 0 !important;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;margin: 0;padding: 0;line-height:1.618;font-family: 'Montserrat', sans-serif;}
	ul , li {margin:0;padding: 0;list-style: none;outline: 0 !important}
	a {outline: 0}
	option,select{outline: 0 !important}
	a:link{color: white};
	a:visited{color: white}
	a{text-decoration: none;color: white;font-weight: 900;text-transform: uppercase}
/*
	MontSerrat
*/
	/* cyrillic-ext */
		@font-face {font-family: 'Montserrat';font-style: normal;font-weight: 400;src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
	/* cyrillic */
		@font-face {font-family: 'Montserrat';font-style: normal;font-weight: 400;src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
	/* vietnamese */
		@font-face {font-family: 'Montserrat';font-style: normal;font-weight: 400;src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
	/* latin-ext */
		@font-face {font-family: 'Montserrat';font-style: normal;font-weight: 400;src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
	/* latin */
		@font-face {font-family: 'Montserrat';font-style: normal;font-weight: 400;src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
/*
	Titilium Web
*/
	/* latin-ext */
		@font-face {font-family: 'Titillium Web';font-style: normal;font-weight: 400;src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v6/NaPecZTIAOhVxoMyOr9n_E7fdM3mDbRS.woff2) format('woff2');unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
	/* latin */
		@font-face {font-family: 'Titillium Web';font-style: normal;font-weight: 400;src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v6/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2) format('woff2');unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
/*
  Pt serif
*/
  /* cyrillic-ext */
  @font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 700;
    src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url(https://fonts.gstatic.com/s/ptserif/v9/EJRQQgYoZZY2vCFuvAFT9gaQZyTfoPNB.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 700;
    src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url(https://fonts.gstatic.com/s/ptserif/v9/EJRQQgYoZZY2vCFuvAFT9gaQZy3foPNB.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* latin-ext */
  @font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 700;
    src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url(https://fonts.gstatic.com/s/ptserif/v9/EJRQQgYoZZY2vCFuvAFT9gaQZyffoPNB.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 700;
    src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url(https://fonts.gstatic.com/s/ptserif/v9/EJRQQgYoZZY2vCFuvAFT9gaQZynfoA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: local('PT Serif'), local('PTSerif-Regular'), url(https://fonts.gstatic.com/s/ptserif/v9/EJRVQgYoZZY2vCFuvAFbzr-tdg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: local('PT Serif'), local('PTSerif-Regular'), url(https://fonts.gstatic.com/s/ptserif/v9/EJRVQgYoZZY2vCFuvAFSzr-tdg.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* latin-ext */
  @font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: local('PT Serif'), local('PTSerif-Regular'), url(https://fonts.gstatic.com/s/ptserif/v9/EJRVQgYoZZY2vCFuvAFYzr-tdg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: local('PT Serif'), local('PTSerif-Regular'), url(https://fonts.gstatic.com/s/ptserif/v9/EJRVQgYoZZY2vCFuvAFWzr8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    src: local('PT Serif Bold'), local('PTSerif-Bold'), url(https://fonts.gstatic.com/s/ptserif/v9/EJRSQgYoZZY2vCFuvAnt66qfVyvHpA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    src: local('PT Serif Bold'), local('PTSerif-Bold'), url(https://fonts.gstatic.com/s/ptserif/v9/EJRSQgYoZZY2vCFuvAnt66qWVyvHpA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* latin-ext */
  @font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    src: local('PT Serif Bold'), local('PTSerif-Bold'), url(https://fonts.gstatic.com/s/ptserif/v9/EJRSQgYoZZY2vCFuvAnt66qcVyvHpA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    src: local('PT Serif Bold'), local('PTSerif-Bold'), url(https://fonts.gstatic.com/s/ptserif/v9/EJRSQgYoZZY2vCFuvAnt66qSVys.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/*
	Varela Round
*/
	/* hebrew */
		@font-face {font-family: 'Varela Round';font-style: normal;font-weight: 400;src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v9/w8gdH283Tvk__Lua32TysjIfpcuPP9g.woff2) format('woff2');unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;}
	/* vietnamese */
		@font-face {font-family: 'Varela Round';font-style: normal;font-weight: 400;src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v9/w8gdH283Tvk__Lua32TysjIfqMuPP9g.woff2) format('woff2');unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}	
	/* latin-ext */
		@font-face {font-family: 'Varela Round';font-style: normal;font-weight: 400;src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v9/w8gdH283Tvk__Lua32TysjIfqcuPP9g.woff2) format('woff2');unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
	/* latin */
		@font-face {font-family: 'Varela Round';font-style: normal;font-weight: 400;src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v9/w8gdH283Tvk__Lua32TysjIfp8uP.woff2) format('woff2');unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
/*
	FONT CSS
*/
	.varela{font-family: 'Varela Round', sans-serif;}
	.titallium{font-family: 'Titillium Web', sans-serif;} /*Titallium*/
	.montserrat{font-family: 'Montserrat', sans-serif;}
  .ministero{font-family: 'PT Serif', serif;}
  .ptserif{font-family: 'PT Serif', serif;}
/*Posizionamento*/
	.toleft{float:left;}   /*Destra*/
	.toright{float:right;} /*Sinistra*/
/*Heading*/
	h1,h2,h3,h4,h5,h6{letter-spacing: 5px;font-family: 'Varela Round', sans-serif;}
/*Box*/
	.allScreen{width: 100%;height: 100%}
	.screen {width: 87%;margin:0 auto;}
	.maxScreen {width: 90%;margin:0 auto;}
	.centerBox{position: absolute !important;top: 50% !important;left: 50% !important;transform: translate(-50%, -50%) !important;-moz-transform: translate(-50%, -50%) !important;-o-transform: translate(-50%, -50%) !important;-webkit-transform: translate(-50%, -50%) !important;-ms-transform: translate(-50%, -50%) !important}
/*Immagini*/
 	.imgResp{width: 100%;height: auto}	
/*Display Element*/	
	.inlineBlock{display: inline-block;}
	.inline{display: inline}
/*Cursori*/
	.pointer{cursor: pointer}
/*Finestra Modale*/
	.maxModalScreen{width: 100%;height: 100%;visibility:hidden;background-color: rgba(38,50,56,0.5);position: fixed !important;top:50% !important;left: 50% !important;z-index: 9999999;transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%)}
	/*.maxModalScreen{width: 100%;height: 100%;display:none;background-color: rgba(38,50,56,0.5);position: fixed !important;top:0px;left: 0px;z-index: 5;}*/
	.modal{width: 70vw;height: auto;padding: 30px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;-webkit-border-radius-topleft: 10px;-moz-border-radius-topleft: 10px;border-radius-topleft: 10px;-webkit-border-radius-topright: 10px;-moz-border-radius-topright: 10px;border-radius-topright: 10px;-webkit-border-radius-bottomleft: 10px;-moz-border-radius-bottomleft: 10px;border-radius-bottomleft: 10px;-webkit-border-radius-bottomright: 10px;-moz-border-radius-bottomright: 10px;border-radius-bottomright: 10px;}
	.modalImage{cursor: pointer;width: 32px;height: 32px;position:absolute; top:10px;right: 10px;}
	.closeIcon{display: block;width: 100%;height: auto;}
	.textModal{margin-bottom: 20px;margin-top: 20px;}
	/*.modal input[data-button]{height: 30px !important;}*/
/*Padding Fix*/
	.minPaddingLeftRightTop{padding: 20px}
/*Background Color*/
	.grey{background-color: #DDDDDD}	
	.clearGrey{background-color: #F8F9FA}
	.darklightgrey{background-color: #d6d4d4}
	.darkGrey{background-color: #657B83}
	.black{background-color: #263238;}
	.cyan{background-color: #5EA8CA;}
	.whitebg{background-color: #FFFFFF}
/*Tipografia*/
	hr{margin:20px 0;border: .5px solid #263238 }
	.normal {font-weight: normal;}
	.light {font-weight: 200;}
	.micro {font-size: .75em}
	.medium {font-size: 1.25em}
	.big {font-size: 1.5em}
	.italic {font-style: italic}
	.normals {font-size: 1em;}
	.bold{font-weight: 900}
	.center {text-align: center !important}
	.uppercase {text-transform: uppercase;}
	.lowercase{text-transform:lowercase;}
	.capitalize{text-transform: capitalize;}
	.veryBig{font-size: 2.5em !important}
	.vAlignCenter{vertical-align: middle}
/*Colori Carattere*/
	.white{color: white !important}
	.red{color: #D71C1C;}
/*Positions*/
	.relatives{position: relative}
	.absolutes{position:absolute}
	.fixeds{position:fixed}
/*Hidden Element for Resp*/
	.hiddenResp{display: block}
	.ovHide{overflow: hidden}
/*Box Responsive*/
	.boxIconClose{display:none}
/*FlexBox*/
	.screenFlex{display: flex;}
	.flexColumn{display: flex;flex-direction: column;}
	.flexRow{display: flex;flex-direction: row;}
	/*Align*/
		.alignSelfStart{align-self:flex-start;}
		.alignSelfEnd{align-self:flex-end !important}
		.alignSelfStretch{align-self: stretch;}
    .alignItemsBase{align-items:baseline}
	/*Content*/
		.centerFlexCont{justify-content: center;}
		.flexStartContent{justify-content: flex-start;}
		.flexBetween{justify-content: space-between;}
		.toRightFlex{justify-content: flex-end !important}
/*Margini*/
	.minTopMarg{margin-top: 20px}
	.centerMarg{margin: 0 auto}
	.mediumTopMargin{margin-top: 40px !important;}
	.marginTopButton{margin: 20px 0 !important}
  .minMargBottom{margin-bottom:8vh}
/*Visibilità Elementi*/
	.hidden{visibility: hidden}	
	.hiddenDisplay{display: none}
	.blockDisplay{display: block}
/*Input*/
	input{width:100%;height:40px;padding:10px;outline:none;border:1px solid grey;display: block;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-border-radius-topleft: 5px;-moz-border-radius-topleft: 5px;border-radius-topleft: 5px;-webkit-border-radius-topright: 5px;-moz-border-radius-topright: 5px;border-radius-topright: 5px;-webkit-border-radius-bottomleft: 5px;-moz-border-radius-bottomleft: 5px;border-radius-bottomleft: 5px;-webkit-border-radius-bottomright: 5px;-moz-border-radius-bottomright: 5px;border-radius-bottomright: 5px}
	input:focus{-webkit-box-shadow: 0px 0px 20px #3C8DF1;-moz-box-shadow: 0px 0px 20px #3C8DF1;box-shadow: 0px 0px 20px #3C8DF1}
/*Label*/
	label{display: block;width: 100%;margin-bottom:10px}
/*Box-Form*/
	/*Text Area-Form*/
		textarea {-ms-overflow-style: none;-moz-overflow-style: none;-o-overflow-style: none;overflow-style: none;width: 100%;height: 50vw;outline:none;resize:none;border: 1px solid #808080;padding:10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;-webkit-border-radius-topleft: 10px;-moz-border-radius-topleft: 10px;border-radius-topleft: 10px;-webkit-border-radius-topright: 10px;-moz-border-radius-topright: 10px;border-radius-topright: 10px;-webkit-border-radius-bottomleft: 10px;-moz-border-radius-bottomleft: 10px;border-radius-bottomleft: 10px;-webkit-border-radius-bottomright: 10px;-moz-border-radius-bottomright: 10px;border-radius-bottomright: 10px;}
		textarea:focus {-webkit-box-shadow: 0px 0px 20px #3C8DF1;-moz-box-shadow: 0px 0px 20px #3C8DF1;box-shadow: 0px 0px 20px #3C8DF1}
		.minBox{height: 200px !important}
	/*Select Form*/
		select{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-border-radius-topleft: 5px;-moz-border-radius-topleft: 5px;border-radius-topleft: 5px;border: 1px solid #3C8DF1;-webkit-border-radius-topright: 5px;-moz-border-radius-topright: 5px;border-radius-topright: 5px;-webkit-border-radius-bottomleft: 5px;-moz-border-radius-bottomleft: 5px;border-radius-bottomleft: 5px;-webkit-border-radius-bottomright: 5px;-moz-border-radius-bottomright: 5px;border-radius-bottomright: 5px;-webkit-transition: border-radius .2s linear;-moz-transition: border-radius .2s linear;-o-transition: border-radius .2s linear;transition: border-radius .2s linear;width:100%;height:40px;padding:10px;-moz-appearance: none;-webkit-appearance: none;appearance: none;border:1px solid grey;outline:none;}
		select{font-size:1em;background: url('../img/png/arrow.png') white no-repeat 98.5% !important;}
		option{display: block;position: relative;}
		select:focus{-webkit-box-shadow: 0px 0px 20px #3C8DF1;-moz-box-shadow: 0px 0px 20px #3C8DF1;box-shadow: 0px 0px 20px #3C8DF1}
	/*Input Type Button*/
		/*Normal Button*/
			input[data-button=normal]{background-color: #3C84F0;color:#fff !important;box-shadow: none !important;}
			input[data-button=normal]:hover{background-color:#603FEE;transition: background-color .8s ease;-moz-transition: background-color .8s ease;-o-transition: background-color .8s ease;-ms-transition: background-color .8s ease  }
			input[data-button=normal]:focus{box-shadow: none !important}
		/*Danger Button*/
			input[data-button=danger]{background-color: #C31F1F;color:#fff !important;box-shadow: none !important;}
			input[data-button=danger]:hover{background-color:#FF0000;color:blue;transition: background-color .8s ease, color .8s ease;-moz-transition: background-color .8s ease, color .8s ease;-o-transition: background-color .8s ease, color .8s ease;-ms-transition: background-color .8s ease, color .8s ease  }
			input[data-button=danger]:focus{box-shadow: none !important}
		/*Accept Button*/
			input[data-button=accept]{background-color: #47D135;color:#fff !important;box-shadow: none !important;}
			input[data-button=accept]:hover{background-color:#10E948;transition: background-color .8s ease;-moz-transition: background-color .8s ease;-o-transition: background-color .8s ease;-ms-transition: background-color .8s ease  }
			input[data-button=accept]:focus{box-shadow: none !important}
		/*Warning Button*/
			input[data-button=warning]{background-color: #DFB42F;color:#fff !important;box-shadow: none !important;}
			input[data-button=warning]:hover{background-color:#FFBA00;transition: background-color .8s ease;-moz-transition: background-color .8s ease;-o-transition: background-color .8s ease;-ms-transition: background-color .8s ease  }
			input[data-button=warning]:focus{box-shadow: none !important}
		/*Black Button*/
			input[data-button=black]{background-color: #424241;color:#fff !important;box-shadow: none !important;}
			input[data-button=black]:hover{background-color:#3A3939;transition: background-color .8s ease;-moz-transition: background-color .8s ease;-o-transition: background-color .8s ease;-ms-transition: background-color .8s ease  }
			input[data-button=black]:focus{box-shadow: none !important}
		/*Medium Bottom*/	
			input[data-button].medium{height: 50px;padding: 5px 0;}
		/*Great Bottom*/
			input[data-button].great{height: 60px;}
		/*No Border*/
			.no-border{border: none !important;}
		/*All Round*/
		.radius{border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius-topleft: 50%;-moz-border-radius-topleft: 50%;border-radius-topleft: 50%;-webkit-border-radius-topright: 50%;-moz-border-radius-topright: 50%;border-radius-topright: 50%;-webkit-border-radius-bottomleft: 50%;-moz-border-radius-bottomleft: 50%;border-radius-bottomleft: 50%;-webkit-border-radius-bottomright: 50%;-moz-border-radius-bottomright: 50%;border-radius-bottomright: 50%;}
	/*Input Datepicker*/
		.datepicker-container{background-color:#fff;direction:ltr;font-size:12px;left:0;line-height:30px;position:fixed;top:0;-ms-touch-action:none;touch-action:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;width:210px;z-index:-1;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none}.datepicker-container::before,.datepicker-container::after{border:5px solid transparent;content:" ";display:block;height:0;position:absolute;width:0}.datepicker-dropdown{border:1px solid #ccc;-webkit-box-shadow:0 3px 6px #ccc;box-shadow:0 3px 6px #ccc;-webkit-box-sizing:content-box;box-sizing:content-box;position:absolute;z-index:1}.datepicker-inline{position:static}.datepicker-top-left,.datepicker-top-right{border-top-color:#39f}.datepicker-top-left::before,.datepicker-top-left::after,.datepicker-top-right::before,.datepicker-top-right::after{border-top:0;left:10px;top:-5px}.datepicker-top-left::before,.datepicker-top-right::before{border-bottom-color:#39f}.datepicker-top-left::after,.datepicker-top-right::after{border-bottom-color:#fff;top:-4px}.datepicker-bottom-left,.datepicker-bottom-right{border-bottom-color:#39f}.datepicker-bottom-left::before,.datepicker-bottom-left::after,.datepicker-bottom-right::before,.datepicker-bottom-right::after{border-bottom:0;bottom:-5px;left:10px}.datepicker-bottom-left::before,.datepicker-bottom-right::before{border-top-color:#39f}.datepicker-bottom-left::after,.datepicker-bottom-right::after{border-top-color:#fff;bottom:-4px}.datepicker-top-right::before,.datepicker-top-right::after,.datepicker-bottom-right::before,.datepicker-bottom-right::after{left:auto;right:10px}.datepicker-panel>ul{margin:0;padding:0;width:102%}.datepicker-panel>ul::before,.datepicker-panel>ul::after{content:" ";display:table}.datepicker-panel>ul::after{clear:both}.datepicker-panel>ul>li{background-color:#fff;cursor:pointer;float:left;height:30px;list-style:none;margin:0;padding:0;text-align:center;width:30px}.datepicker-panel>ul>li:hover{background-color:rgb(229,242,255)}.datepicker-panel>ul>li.muted,.datepicker-panel>ul>li.muted:hover{color:#999}.datepicker-panel>ul>li.highlighted{background-color:rgb(229,242,255)}.datepicker-panel>ul>li.highlighted:hover{background-color:rgb(204,229,255)}.datepicker-panel>ul>li.picked,.datepicker-panel>ul>li.picked:hover{color:#39f}.datepicker-panel>ul>li.disabled,.datepicker-panel>ul>li.disabled:hover{background-color:#fff;color:#ccc;cursor:default}.datepicker-panel>ul>li.disabled.highlighted,.datepicker-panel>ul>li.disabled:hover.highlighted{background-color:rgb(229,242,255)}.datepicker-panel>ul>li[data-view="years prev"],.datepicker-panel>ul>li[data-view="year prev"],.datepicker-panel>ul>li[data-view="month prev"],.datepicker-panel>ul>li[data-view="years next"],.datepicker-panel>ul>li[data-view="year next"],.datepicker-panel>ul>li[data-view="month next"],.datepicker-panel>ul>li[data-view="next"]{font-size:18px}.datepicker-panel>ul>li[data-view="years current"],.datepicker-panel>ul>li[data-view="year current"],.datepicker-panel>ul>li[data-view="month current"]{width:150px}.datepicker-panel>ul[data-view="years"]>li,.datepicker-panel>ul[data-view="months"]>li{height:52.5px;line-height:52.5px;width:52.5px}.datepicker-panel>ul[data-view="week"]>li,.datepicker-panel>ul[data-view="week"]>li:hover{background-color:#fff;cursor:default}.datepicker-hide{display:none}
		input[data-toggle="datepicker"]{background: url('../img/png/calendar.png') white no-repeat 98.5% !important;}
		/*.datepicker-panel>ul>li.picked, .datepicker-panel>ul>li.picked:hover{background-color: #6E26E6;transition: background-color .8s ease;-moz-transition: background-color .8s ease;-o-transition: background-color .8s ease;-ms-transition: background-color .8s ease;color: white}*/
	/*Input Timepick*/
		.ti_tx,.mi_tx,.mer_tx{font-size:.75em;width:100%;text-align:center;margin:10px 0}.time,.mins,.meridian{width:60px;float:left;margin:0 10px;font-size:20px;color:#2d2e2e;font-family:arial;font-weight:700}.prev,.next{cursor:pointer;padding:18px;width:28%;border:1px solid #ccc;margin:auto;background:url(../images/arrow.png) no-repeat;border-radius:5px}.prev:hover,.next:hover{background-color:#ccc}.next{background-position:50% 150%}.prev{background-position:50% -50%}.time_pick{position:relative}.timepicker_wrap{padding:10px;border-radius:5px;z-index:998;display:none;box-shadow:2px 2px 5px 0 rgba(50,50,50,.35);background:#f6f6f6;border:1px solid #ccc;float:left;position:absolute;top:27px;left:0}.arrow_top{position:absolute;top:-10px;left:20px;background:url(../images/top_arr.png) no-repeat;width:18px;height:10px;z-index:999}input.timepicki-input{background:none repeat scroll 0 0 #FFF;border:1px solid #CCC;border-radius:5px 5px 5px 5px;float:none;margin:0;text-align:center;width:70%}a.reset_time{float:left;margin-top:5px;color:#000}
		#time{background: url('../img/png/clock.png') white no-repeat 98.5% !important;}
  /*Input-Style-Search*/
    .searchBar{background: url('../img/png/search-question.png') white no-repeat 98.5% !important;padding-right:30px}
	/*CheckBox-Form*/
		/*Switch*/
			.switch {position: relative;display: inline-block;width: 60px;height: 34px;}
			.switch input {display:none;}
			.slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;}
			.slider:before {position: absolute;content: "";height: 26px;width: 26px;left: 4px;bottom: 4px;background-color: white;-webkit-transition: .4s;transition: .4s;}
			input:checked + .slider {background-color: #2196F3;}
			input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
			input:checked + .slider:before {-webkit-transform: translateX(26px);-ms-transform: translateX(26px);transform: translateX(26px);}
			.slider.round {border-radius: 34px;}
			.slider.round:before {border-radius: 50%;}
		/*Normal Checked*/
			.checkboxDescktop,.checkboxDescktopRequired{margin-right:20px;}
			.checkboxDescktop{position:relative;width: 50px;height: 50px;background-color: #CCCCCC;display: inline-block;z-index: 1}
			.checkboxDescktop input[type=checkbox]{display: none;}
			input.checked:checked + span.check {overflow:hidden;width: 50px;height: 50px;background-color: transparent;display: inline-block;background: url('../img/png/checked.png') center center;position: absolute;}
		/*Required Checked*/
			.checkboxDescktopRequired {width: 50px;height: 50px;background-color: #E52F38;display: inline-block;z-index: 1}
			.checkboxDescktopRequired  input[type=checkbox]{display: none;}
		/*Normal RadioBox*/
			.radioBoxDescktop {position:relative;width: 50px;height: 50px;background-color: #CCCCCC;display: inline-block;z-index: 1;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;-webkit-border-radius-topleft: 50%;-moz-border-radius-topleft: 50%;border-radius-topleft: 50%;-webkit-border-radius-topright: %;-moz-border-radius-topright: 50%;border-radius-topright: 50%;-webkit-border-radius-bottomleft: 50%;-moz-border-radius-bottomleft: 50%;border-radius-bottomleft: %;-webkit-border-radius-bottomright: 50%;-moz-border-radius-bottomright: 50%;border-radius-bottomright: 50%;}
			.radioBoxDescktop > input[type=radio].checkedRad {display: none !important;}
			.radioBoxDescktop > input[type=radio].checkedRad[checked=checked] + span.press{display: inline-block;z-index: 1;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;-webkit-border-radius-topleft: 50%;-moz-border-radius-topleft: 50%;border-radius-topleft: 50%;-webkit-border-radius-topright: %;-moz-border-radius-topright: 50%;border-radius-topright: 50%;-webkit-border-radius-bottomleft: 50%;-moz-border-radius-bottomleft: 50%;border-radius-bottomleft: %;-webkit-border-radius-bottomright: 50%;-moz-border-radius-bottomright: 50%;border-radius-bottomright: 50%;width: 30px;height: 30px;top:10px;left:10px;position: absolute;background-color: #60b4e3;display: block;z-index: 5;overflow:hidden;}
			.radioBoxDescktop > input[type=radio].checkedRad:not([checked])span.press{display: none}
		/*Reuired RadioBox*/
			.radioBoxDescktop, .radioBoxDescktopRequired {margin-right: 20px;}
			.radioBoxDescktopRequired {position:relative;width: 50px;height: 50px;background-color: #FF0000;display: inline-block;z-index: 1;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;-webkit-border-radius-topleft: 50%;-moz-border-radius-topleft: 50%;border-radius-topleft: 50%;-webkit-border-radius-topright: %;-moz-border-radius-topright: 50%;border-radius-topright: 50%;-webkit-border-radius-bottomleft: 50%;-moz-border-radius-bottomleft: 50%;border-radius-bottomleft: %;-webkit-border-radius-bottomright: 50%;-moz-border-radius-bottomright: 50%;border-radius-bottomright: 50%;}
			.radioBoxDescktopRequired > input[type=radio].checkedRad {display: none !important;}
		/*Height*/
      .heightResp{height:40vh}
    /*Overflow*/
      .completeFlowScroll{overflow:scroll}
      .completeFlowHidden{overflow:hidden}
      .overFlowXscroll{overflow-x:scroll}
      .overFlowXHidden{overflow-x:hidden}
      .overFlowYscroll{overflow-y:scroll}
      .overFlowYhidden{overflow-y:hidden}
    /*LoadingBar*/
			.bar{width:95%;height:50px;background: rgb(30,87,153);background: -moz-linear-gradient(45deg, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%);background: -webkit-linear-gradient(45deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);background: linear-gradient(45deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 )}
			.loadingBar{position:relative;overflow:hidden;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-border-radius-topleft: 5px;-moz-border-radius-topleft: 5px;border-radius-topleft: 5px;-webkit-border-radius-topright: 5px;-moz-border-radius-topright: 5px;border-radius-topright: 5px;-webkit-border-radius-bottomleft: 5px;-moz-border-radius-bottomleft: 5px;border-radius-bottomleft: 5px;-webkit-border-radius-bottomright: 5px;-moz-border-radius-bottomright: 5px;border-radius-bottomright: 5px;border:2px solid #263238 !important;width:97%;height: auto;display:block;margin:10px auto !important}	
			.loadingBar > .bar > span {font-weight:900;color:#000000;display: block;position: absolute;left: 50%;top:50%;transform: translate(-50%, -50%) }
		/*a style Button*/
			.abtn{width:100%;text-decoration:none;text-align:center;padding:10px;outline:none;border:1px solid grey;display: block;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-border-radius-topleft: 5px;-moz-border-radius-topleft: 5px;border-radius-topleft: 5px;-webkit-border-radius-topright: 5px;-moz-border-radius-topright: 5px;border-radius-topright: 5px;-webkit-border-radius-bottomleft: 5px;-moz-border-radius-bottomleft: 5px;border-radius-bottomleft: 5px;-webkit-border-radius-bottomright: 5px;-moz-border-radius-bottomright: 5px;border-radius-bottomright: 5px}	
			/*a Btn style Normal*/
				.abtn[data-button=normal]{margin-bottom:20px;background-color: #3C84F0;color:#fff !important;box-shadow: none !important;}
				.abtn[data-button=normal]:hover{margin-bottom:20px;background-color:#603FEE;transition: background-color .8s ease;-moz-transition: background-color .8s ease;-o-transition: background-color .8s ease;-ms-transition: background-color .8s ease  }
				.abtn[data-button=normal]:focus{margin-bottom:20px;box-shadow: none !important}
			/*a Btn Danger Button*/
				.abtn[data-button=danger]{margin-bottom:20px;background-color: #C31F1F;color:#fff !important;box-shadow: none !important;}
				.abtn[data-button=danger]:hover{margin-bottom:20px;background-color:#FF0000;color:blue;transition: background-color .8s ease, color .8s ease;-moz-transition: background-color .8s ease, color .8s ease;-o-transition: background-color .8s ease, color .8s ease;-ms-transition: background-color .8s ease, color .8s ease  }
				.abtn[data-button=danger]:focus{margin-bottom:20px;box-shadow: none !important}
			/*a Btn Accept Button*/
				.abtn[data-button=accept]{margin-bottom:20px;background-color: #47D135;color:#fff !important;box-shadow: none !important;}
				.abtn[data-button=accept]:hover{margin-bottom:20px;background-color:#10E948;transition: background-color .8s ease;-moz-transition: background-color .8s ease;-o-transition: background-color .8s ease;-ms-transition: background-color .8s ease  }
				.abtn[data-button=accept]:focus{margin-bottom:20px;box-shadow: none !important}
			/*a Btn Warning Button*/
				.abtn[data-button=warning]{margin-bottom:20px;background-color: #DFB42F;color:#fff !important;box-shadow: none !important;}
				.abtn[data-button=warning]:hover{margin-bottom:20px;background-color:#FFBA00;transition: background-color .8s ease;-moz-transition: background-color .8s ease;-o-transition: background-color .8s ease;-ms-transition: background-color .8s ease  }
				.abtn[data-button=warning]:focus{margin-bottom:20px;box-shadow: none !important}
			/*a Btn Black Button*/
				.abtn[data-button=black]{margin-bottom:20px;background-color: #424241;color:#fff !important;box-shadow: none !important;}
				.abtn[data-button=black]:hover{margin-bottom:20px;background-color:#263238;transition: background-color .8s ease;-moz-transition: background-color .8s ease;-o-transition: background-color .8s ease;-ms-transition: background-color .8s ease  }
				.abtn[data-button=black]:focus{margin-bottom:20px;box-shadow: none !important}
		/*Border not round*/
			.no-round{border-radius: 0px !important;}
		/*Grigle Box Responsive*/
			.col-1-12{width: 8.33%;height: auto;float: left}
			.col-2-12{width: 16.66%;height: auto;float: left}
			.col-3-12{width:25%;height: auto;float: left}
			.col-4-12{width:33.33%;height: auto;float: left}
			.col-5-12{width: 41.66%;height: auto;float: left}
			.col-6-12{width:50%;height: auto;float: left}
			.col-7-12{width:58.33%;height: auto;float: left}
			.col-8-12{width: 66.66%;height: auto;float: left}
			.col-9-12{width: 75%;height: auto;float: left}
			.col-10-12{width: 83.33%;height: auto;float: left}
			.col-11-12{width: 91.66%;height: auto;float: left}
			.col-12-12{width: 100%;height: auto;float: left}
			.row{width: 100%;height: auto;display: block}
		/*Input Type File*/
			.jfilestyle{display:inline-block;margin:0 0 10px;padding:0;position:relative;border-collapse:separate}div.jfilestyle input,div.jfilestyle label{padding:10px 15px;line-height:normal;font-size:14px;vertical-align:middle;font-family:sans-serif}div.jfilestyle input{border:1px solid silver;background:#d9d9d9;margin:0 -5px 0 0;border-radius:0;color:#8d8d8d;cursor:default}div.jfilestyle label{display:inline-block;border:1px solid silver;background:#fff;color:#0662ba;text-align:center;margin:0;width:auto;border-radius:0;font-weight:400}div.jfilestyle.jfilestyle-corner input:last-child,div.jfilestyle.jfilestyle-corner label:last-child{margin-left:-1px}div.jfilestyle label[disabled]{pointer-events:none;opacity:.6;filter:alpha(opacity=65);cursor:not-allowed}div.jfilestyle label:hover{cursor:pointer;opacity:.9}div.jfilestyle .count-jfilestyle{background:#303030;color:#fff;border-radius:50%;padding:1px 5px;font-size:12px;vertical-align:middle}div.jfilestyle.jfilestyle-theme-blue label{border-color:#438eff;background:#438eff;color:#fff}div.jfilestyle.jfilestyle-theme-green label{border-color:#18a063;background:#18a063;color:#fff}div.jfilestyle.jfilestyle-theme-yellow label{border-color:#e8c821;background:#e8c821;color:#fff}div.jfilestyle.jfilestyle-theme-black label{border-color:#424242;background:#424242;color:#fff}div.jfilestyle.jfilestyle-theme-red label{border-color:#f33f3f;background:#f33f3f;color:#fff}div.jfilestyle.jfilestyle-theme-purple label{border-color:#873aff;background:#873aff;color:#fff}div.jfilestyle.jfilestyle-theme-asphalt label{border-color:#435673;background:#435673;color:#fff}
		/*Pannello*/
			/*Hamburger Menù*/
				.hambBox{display: none;}
			/*Container*/
				.container{width:100vw;height: 100vh}
			/*Right Bar*/
				.rightBar{width: 6%;height: 100vh;position: fixed;background-color: #263238}
				.hiddenResp{display: block}
				.hiddenNoResp{display: 	none}
			/*InfoUser Bar*/
				.infoUser{z-index:-1;height: 4vw;left: 6%;width: 94%;position: fixed;background-color: #4B6673}
			/*Color Svg*/
				.whiteSvg{fill: #FFFFFF}
				.turnOn{fill: #00FF00;}
			/*Effetti Svg*/
				.styleSettingOff > a:hover .turnOn{fill: #ED1F37;-webkit-transition: fill .2s ease;-moz-transition: fill .2s ease;-o-transition: fill .2s ease;transition: fill .2s ease;-ms-transition: fill .2s ease}
			/*Menu Sotto RightBar*/
				.menuSettingOff{position: absolute;bottom: 0px;width:100%;}	
			/*Settaggi Svg Grandezza*/
				.svgSetting{margin:1px 0;padding:5px 0;width: 60% !important;height: 60% !important;vertical-align: middle;}
				.styleSettingOff {vertical-align:middle;text-align: center;}
				.styleSettingOff:hover, .centerList:hover{background-color: #5EA8CA;-webkit-transition: background-color .2s ease;-moz-transition: background-color .2s ease;-o-transition: background-color .2s ease;transition: background-color .2s ease;-ms-transition: background-color .2s ease;} 
				.centerList{vertical-align:middle;text-align: center}
			/*InfoUser*/
				.dateSvgInfoUser{position: absolute;}
				#clockInfoUser,#dateInfoUser{position:relative;top:3px;margin-left: 5px;font-size: 1em;vertical-align:top;color: white}
				.clockDate{max-width: 250px;overflow:hidden;position:relative;height: 4vw;}	
				.clockBox, .dateBox{display: inline-block;position: absolute;margin-left: 23px;top:calc(50% - 14px)}
				#dateSvgInfoUser, #clockSvgInfoUser{width: 28px; height: 28px;fill: white}
				.dateBox {height: 5vh; right:0;position: absolute !important;right: 0!important}
				/*#infoName{vertical-align: middle;position: absolute;top:5px;right: 10px}*/
				.userInfo{height: 5vh;position: absolute;display: block;top: 0;right: 10px;}
				/*.userInfo{height: 5vh;position: relative;display: inline-block;top:0;right: 10px}*/
				/*#infoName{line-height: 0;position: relative;top:19%;}*/
				#infoName {position: fixed;display: inline-block;right: 10px;top: calc(2vw - 12.50px);vertical-align: middle;}
				/*#infoName{    position: absolute;line-height: 0;display: block;top: 50%;}*/
			/*Elementi Hover Della Navbar*/
				.buttonList {width:100%;height: 100%}
				.navbarElement{display: none;position: fixed;left: 6%;width: 20vw;height: 100%;z-index: 2;top: 0;overflow-x:hidden}
				.navbarElement .svgSetting{width: 40% !important;height: 40% !important; margin: 0 auto !important}		
				.navbarElement .imgNavbar {margin:5px 0;}
				.buttonList:hover + .navbarElement{display: block}
				.navbarElement:hover {display: block}
				.navbarElement .navbarText {width: 100%; margin: 10px 0}
				.elementListNav{-webkit-transition: background .3s ease;-moz-transition: background .3s ease;-o-transition: background .3s ease;transition: background .3s ease;text-align: left; display: block;padding: 14px 0;padding-left:10px;}
				.elementListNav .text {vertical-align: middle}
				.listElemtNav {margin: 0 auto !important;width: 60%;}
				.elementListNav .svgSetting  {width: 30px !important; height: 30px !important}
				.minMarginLeft{margin-left: 20px}
				.elementListNav .linkText {padding: 20px 0 !important} 
				.elementListNav:hover{background-color: #93A1A1 !important}
			/*Menu Cross*/
				.crossMenu{display: none}
			/*Load Screen*/
				.loadScreen{z-index:-3;left: 6%;width: 94%;top: 4vw;position: absolute;overflow:hidden}
			/*Smart Navbar*/
				.smartNav{display: none;}
			/*Login*/
				.blockLogin{width: 83%;max-width: 720px}	
				/*input con Linea*/
					.logInp,.input-line {caret-color:white;border: 0px;border-bottom:2px solid #586E75;font-size: 1.25em;color:white !important;border-radius: initial !important;background-color: transparent;box-shadow: none !important;padding: 20px}
					.labLogin,.lab-line{color: white;font-weight: 900;text-transform: uppercase;margin:10px 0;}
					.input-line{padding:0 !important;caret-color:#263238;color: black !important}
					/*input[data-toggle=input-linePickr]{background: url(../img/png/calendar.png) transparent no-repeat 98.5% !important;}*/
			/* Ajax Block*/
				.loadingBlock{display:none;width:100%;height: 100%;}
				#ajaxImage{position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);width:70px;height: auto}
				#emailSpan{display: inline;}

/*--------------------------------------Media-QUery---------------------------------------------------*/

	/*------------------------QUERY-ALTEZZA---------------------------*/
	
		@media only all and (max-height: 530px) {
			.centerBox{margin:20px auto;position: inherit;top:0px;left:0px;transform: none;-ms-transform: none;-o-transform: none;-webkit-transform: none;-moz-transform: none}
		}
	
	/*-----------------------QUERY-LARCHEZZA---------------------------*/

		@media only all and (max-width: 980px) {
			.minBox{height: 50vh !important};
			.modal{position: absolute; top: 50%;left: 50%;transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%)}
      		.menuFirst{margin-bottom:20px}
      		.navbarText{display:none}
      		.imgNavbar{display:none}
      		.navbarElement{position:inherit;width:100%;height:auto}
			.infoUser{display: none}
			#hamburgerMenu{height: 16px;width: 16px}
			.svgSetting{height: 45px !important;width: auto !important}
			#textHamb{font-size: .875em;}
			.hambBox{display: inline-block}
			.smartNav{display: block;position: relative;height: 70px;text-align: right;overflow: hidden}
			.boxIcon{height: 100%;width: 87%;text-align:right;margin:0 auto;vertical-align: middle;margin-top: 10px}
			.rightBar{overflow-y: scroll;display: block;left:-100%;width: 100%;top:0%; -webkit-transition: left .2s linear;-moz-transition: left .2s linear;-o-transition: left .2s linear;transition: left .2s linear;}
			.loadScreen{z-index: 1;left: 0;width: 100%;top: 0;position: inherit;}
			.hiddenResp{display: none}
			.hiddenNoResp{display: 	block;}
			.hiddenDisplay{display: inline}
			.hiddenDisplayResp{display: none;}
			.centerList{border-bottom: 2px solid #263238;font-size:..875em;text-align:left;margin: 0 auto;padding-left: 12%;width: 87%;font-size: .875em}
			.logoResp{height: 70px;}
			/*.logoResp:hover{background-color: transparent;}*/
			.rightBar{overflow-x: hidden !important;background-color: #839496;z-index: 9999999; overflow:scroll}
			.menuFirst{padding-top: 10%}
			.elementListNav{width: 75%}
    		/*.elementListNav:hover{background-color:transparent !important}*/
			/*.centerList:hover{background-color: transparent;}*/
			.boxIconClose{display:block;width: 100%;height: auto}
			.boxClose{position: relative;display: inline-block;top:20px;margin-left: 7%;}
			.col-1-12{width: 100%;height: auto;float: none}
			.col-2-12{width: 100%;height: auto;float: none}
			.col-3-12{width: 100%;height: auto;float: none}
			.col-4-12{width: 100%;height: auto;float: none}
			.col-5-12{width: 100%;height: auto;float: none}
			.col-6-12{width: 100%;height: auto;float: none}
			.col-7-12{width: 100%;height: auto;float: none}
			.col-8-12{width: 100%;height: auto;float: none}
			.col-9-12{width: 100%;height: auto;float: none}
			.col-10-12{width: 100%;height: auto;float: none}
			.col-11-12{width: 100%;height: auto;float: none}
			.col-12-12{width: 100%;height: auto;float: none}
			.flexRow{display: block} 
			.rightBar[data-land=true]{left:0%;}
			.arrow{float: right;/*margin-right: 15px*/}
			/*html.touch *:hover {all:unset!important;}*/
			.navbarElement{overflow:hidden;}
			.crossMenu{display: block}
			.hiddenResp{display: none}
		}
    @media only all and (min-width:1024px){
      /*ScrollBar*/
      ::-o-scrollbar {
        width: 7px;
        background-color: #F8F9FA;
      }
      ::-o-scrollbar-thumb {
        background-color: #5c8a8a;
      }
      ::-o-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F8F9FA;
      }
      ::-moz-scrollbar {
        width: 7px;
        background-color: #F8F9FA;
      }
      ::-moz-scrollbar-thumb {
        background-color: #5c8a8a;
      }
      ::-moz-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F8F9FA;
      }
      ::-webkit-scrollbar {
        width: 7px;
        background-color: #F8F9FA;
      }
      ::-webkit-scrollbar-thumb {
        background-color: #5c8a8a;
      }
      ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F8F9FA;
      }
    }