<div class="screen screenFlex flexColumn">
	<div class="row">
		<div class="col-12-12">
			<h1 class="center uppercase">Crea utente </h1>		
		</div>
	</div>
	<hr>
	<div class="flexRow flex flexBetween marginTopButton">
		<div class="col-5-12">
			<div class="formElement minTopMarg">
				<label class="uppercase" for="name">Nome:</label>
				<input type="text" id="name"  name="nameUser" required placeholder="Inserisci Nome">
			</div>			
		</div>
		<div class="col-5-12">
			<div class="formElement minTopMarg">
				<label class="uppercase" for="surname">Cognome:</label>
				<input type="text" id="surname"  name="surname" required placeholder="Inserisci Cognome">
			</div>			
		</div>
	</div>
	<hr>
	<div class="flexRow flex flexBetween marginTopButton">
		<div class="col-5-12">
			<div class="formElement minTopMarg">
				<label class="uppercase" for="eMail">E-mail:</label>
				<input type="email" id="eMail"  name="eMail" data-form="email" required placeholder="Inserisci e-mail">
			</div>			
		</div>
		<div class="col-5-12">
			<div class="formElement minTopMarg">
				<label class="uppercase" for="tel">Telefono/Cell:</label>
				<input type="tel" id="tel"  name="telUser" required placeholder="Inserisci numero">
			</div>			
		</div>
	</div>
	<hr>
	<div class="flexRow flex flexBetween marginTopButton">
		<div class="col-4-12">
			<div class="formElement minTopMarg">
				<label class="uppercase" for="admin">Admin ?</label>
				<label class="checkboxDescktop">
  					<input type="checkbox" data-toogle="checkAdmin" class="checked" name="admin">
  					<span class="check"></span>
				</label>
			</div>		
		</div>
    <div class="col-4-12">
			<div class="formElement minTopMarg" id="checkUniversity">
				<label class="uppercase" for="admin">Seleziona Università</label>
				<label class="checkboxDescktop">
  					<input type="checkbox" data-toogle="checkuniversity" class="checked" name="admin">
  					<span class="check"></span>
				</label>
			</div>		
		</div>
		<div class="col-4-12" id="uniSelect">
			<div class="formElement minTopMarg" id="textUniversity">
				<label class="uppercase" for="textUni">Scrivi corso universitario:</label>
				<input type="text" id="textUni"  name="textUni" placeholder="Inserisci corso universitario">
			</div>			
			<div class="formElement minTopMarg" id="selectUniversity">
				<label for="university" class="uppercase">Scegli Università:</label>
				<select name="university" id="university">
					<option value="">----</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
				</select>	
			</div>
		</div>
	</div>
	<hr>
	<div class="flexRow flex marginTopButton toRightFlex">
		<div class="col-4-12">
			<div class="formElement minTopMarg">
				<input value="Invia dati" class="great uppercase" data-button="normal" type="button">
			</div>			
		</div>
	</div>
<script src="js/jsCreateUser.js" defer></script>
</div>